@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TALLER MVC</h1>
    <p class="lead">Este taller fue realizado para consolidar los conocimientos en MVC.<br/>
                    El CRUD de Persona se encuentra en la pestaña - Lista de personas.</p>
    <br />
    <p>Desarrollado por la <a href="https://www.uis.edu.co" target="_blank"> Universidad Industrial de Santander &raquo;</a></p>
</div>

